<div>
<h1>View Report</h1>
<table>
  <tr>
    <td>Name:&nbsp;</td>
    <td colspan="3"><input type="text" ng-value="reportToView.name" onfocus="this.blur();"></td>
  </tr>
  <tr>
    <td>Notes:&nbsp;</td>
    <td colspan="3"><textarea onfocus="this.blur();">{{reportToView.note}}</textarea></td>
  </tr>
  <tr ng-repeat="lineItem in reportToView.lineItems">
    <td>Expense Type:&nbsp;</td>
    <td><input type="text" ng-value="lineItem.type.type" onfocus="this.blur();"></td>
    <td>Expense Amount:&nbsp;</td>
    <td><input type="text" ng-value="lineItem.value | currency" onfocus="this.blur();"></td>
  </tr>
</table>
<div class="form-group">
	<div>
		<input type="submit" value="Edit Report" type="btn btn-primary" ui-sref="editReport">
	</div>
</div>
</div>