<h1>Edit Report</h1>
<form class="form-horizontal" role="form" ng-submit="addRow()">
<div class="form-group">
	<label for="projectName" class="col-sm-2">Project Name: </label>
	<select id="projectName" name="projectName">
		<option ng-repeat="datum in projectList" ng-value="{{datum.projectId}}">{{datum.name}}</option>
	</select>
</div>
<div class="form-group">
	<label for="reportName" class="col-sm-2">Report Name: </label>
	<input id="reportName" name="reportName" type="text" ng-value="reportToEdit.name"/>
</div>
<div class="form-group">
	<label for="note" class="col-sm-2">Note</label>
	<textarea id="note" name="note" >{{reportToEdit.note}}</textarea>
</div>
<div class="form-group">
	<label for="itemType" class="col-sm-2">Type: </label>
	<select name="itemType" ng-model="lineItem.type.type" ng-value="lineItem.type.type">
 		<option value="1">Mileage</option>
		<option value="2">Per Diem</option>
		<option value="3">Lodging</option>
		<option value="4">Travel</option>
		<option value="5">Meals</option>
		<option value="6">Entertainment</option>
		<option value="7">Parking</option>
		<option value="8">Other</option>
	</select>
</div>
<div class="form-group">
	<label for="cost" class="col-sm-2">Cost: </label>
	<input type="number" step="any" min="0.01" name="cost" ng-model="cost" required/>
</div>
<div class="form-group">
	<div>
		<input type="submit" value="Add Expense Item" class="btn btn-primary"/>
	</div>
</div>

<div ng-show="reportToEdit.lineItems.length > 0">
	<table class="table">
		<tr>
			<th>
				Type
			</th>
			<th>
				Cost
			</th>
		</tr>
		<tr ng-repeat="lineItem in reportToEdit.lineItems">
			<td>
				<div class="form-group">
					<label for="itemType" class="col-sm-2">Type: </label>
					<select name="itemType" ng-model="lineItem.type.type" ng-value="lineItem.type.type">
				 		<option value="1">Mileage</option>
						<option value="2">Per Diem</option>
						<option value="3">Lodging</option>
						<option value="4">Travel</option>
						<option value="5">Meals</option>
						<option value="6">Entertainment</option>
						<option value="7">Parking</option>
						<option value="8">Other</option>
					</select>
				</div>
			</td>

			<td>
				{{lineItem.value | currency}}
			</td>
			<td>
				<a class="btn" ng-click="removeItem(items)">Remove</button>
			</td>
		</tr>
	</table>
</div>

</form>

<!--<div>-->

<!--<table>-->
  <!--<tr>-->
    <!--<td>Name:&nbsp;</td>-->
    <!--<td colspan="3"><input type="text" ng-value="reportToEdit.name"></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Notes:&nbsp;</td>-->
    <!--<td colspan="3"><textarea >{{reportToEdit.note}}</textarea></td>-->
  <!--</tr>-->
  <!--<tr ng-repeat="lineItem in reportToEdit.lineItems">-->
    <!--<td>Expense Type:&nbsp;</td>-->
    <!--<td><input type="text" ng-value="lineItem.type.type" ></td>-->
    <!--<td>Expense Amount:&nbsp;</td>-->
    <!--<td><input type="text" ng-value="lineItem.value | currency" ></td>-->
    <!--<td>-->
		<!--<a class="btn" ng-click="removeItem(reportToEdit.lineItem)">Remove</button>-->
	<!--</td>-->
  <!--</tr>-->
<!--</table>-->
<!--<div class="form-group">-->
	<!--<div>-->
		<!--<input type="submit" value="Save Report" ng-click="sendEditedReport()" class="btn btn-primary"/>-->
	<!--</div>-->
<!--</div>-->
<!--<p ng-show="error">Report failed to create</p>-->
<!--</div>-->