<div ng-hide="admin" style="text-align:center"> <!-- update this with stylesheet once merge is ready -->

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active:statView == 1}" ng-click="statView=1"><a role="tab">Saved</a></li>
    <li role="presentation" ng-class="{active:statView == 2}" ng-click="statView=2"><a role="tab">Submitted</a></li>
    <li role="presentation" ng-class="{active:statView == 3}" ng-click="statView=3"><a role="tab">Approved</a></li>
    <li role="presentation" ng-class="{active:statView == 4}" ng-click="statView=4"><a role="tab">Rejected</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="statView == 1">
      <h3>List of Saved reports:</h3>
      <div ng-repeat="report in savReportList">
        <a ng-click="loadView(report.reportId)">{{report.name}}</a>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" ng-show="statView == 2">
      <h3>List of Submitted reports:</h3>
      <div ng-repeat="report in subReportList">
        <a ng-click="loadView(report.reportId)">{{report.name}}</a>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" ng-show="statView == 3">
      <h3>List of Approved reports:</h3>
      <div ng-repeat="report in appReportList">
        <a ng-click="loadView(report.reportId)">{{report.name}}</a>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" ng-show="statView == 4">
      <h3>List of Rejected reports:</h3>
      <div ng-repeat="report in rejReportList">
        <a ng-click="loadView(report.reportId)">{{report.name}}</a>
      </div>
    </div>
  </div>

</div>
<div ng-show="techReportList.length > 0">
<hr/>
	<h3>Submission Inbox:</h3>
	      <div ng-repeat="report in techReportList">
        <a ng-click="loadView(report.reportId)">{{report.name}}</a>
      </div>
	</div>

</div>
<div ng-show="admin">
	<h3>Current Projects</h3>
	<ul>
		<li ng-repeat="project in allProjects">{{project.name}}</li>
	</ul>
</div>