.footer {

	width:100%;
	height:25px;
	position:absolute;
	bottom:0;
	left:0;
}

h2, h4 {
	margin-left: 15px;
	margin-bottom: 20px;
}

a {
	color: black;
}
.form-group {
	margin-left: 25px;
}
td{	margin-left: 25px;
}

label {
	margin-left: 15px;
	display: inline-block;
    width: 100px;
    margin-bottom: 25px;
}

.btn-primary {
	margin-left: 30px;
}

.container {
	margin-bottom: 15px;
}

button {
	margin-left: 15px;
}

.textLeft {
	text-align: left !important;
}

#email {
	margin-right: 25px;
}