<p ng-show="logout" class="text-center frontPageError"> You have been successfully logged out. </p>
<p ng-show="register" class="text-center frontPageError"> Your account has successfully been created. </p>
<p ng-show="loginFailure" class="text-center frontPageError"> Invalid Email or Password. Please try again. </p>

<h2>Welcome to the Expense Report Application</h2>
<h4>Please Login or Register now</h4>
<form id="loginPage" name="loginPage" ng-submit="login()">
	<label for="userName" id="email" >Email/Username: </label>
	<input id="userName" name="userName" type="text" ng-model="userName"/>
	<label for="passWord">Password: </label>
	<input id="passWord" name="passWord" type="password" ng-model="passWord"/>
	<input type="submit" value="Login"/>
	<a ui-sref="register">
		<button>Register</button>
	</a>
</form>	