<h2> Registration Form</h2>
<form name="myForm">
<div>
	<label for="userName">Username: </label>
	<input id="userName" name="userName" type="email" ng-model="formData.userName" required/>
	<span ng-show="myForm.userName.$error.required && myForm.userName.$dirty">User name is required</span>
	<span ng-show="!myForm.userName.$error.required && myForm.userName.$error.email && myForm.userName.$dirty">Not proper email format</span>
</div>
<div>
	<label for="passWord">Password: </label>
	<input id="passWord" name="passWord" type="password" ng-model="formData.passWord" required ng-pattern="/(?=.*[0-9])/" ng-minlength="8"/>
	<span ng-show="myForm.passWord.$error.pattern && myForm.passWord.$dirty">Must contain at least one number</span>
	<span ng-show="!myForm.passWord.$error.required && myForm.passWord.$error.minlength && myForm.passWord.$dirty">Password must be at least 8 characters</span>
	<span ng-show="myForm.passWord.$error.required && myForm.passWord.$dirty">Password is required</span>
</div>
<div>
	<label for="confirmPassword">Confirm: </label>
	<input id="confirmPassword" name="confirmPassword" type="password" ng-model="formData.confirmPassword" pw-check="formData.passWord"/>
	<span ng-show="myForm.confirmPassword.$error.pwCheck">Passwords do not match</span>
</div>
<div>
	<label for="firstName">First Name: </label>
	<input id="firstName" name="firstName" type="text" ng-model="formData.firstName" required/>
	<span ng-show="myForm.firstName.$error.required && myForm.firstName.$dirty">First name is required</span>
</div>
<div>
	<label for="lastName">Last Name: </label>
	<input id="lastName" name="lastName" type="text" ng-model="formData.lastName" required/>
	<span ng-show="myForm.lastName.$error.required && myForm.lastName.$dirty">Last name is required</span>
</div>
	<a ui-sref="login">
		<button ng-disabled="!myForm.$valid" ng-click="sendPost()">Submit</button>
	</a>
	<a ui-sref="login">
    	<button>Cancel</button>
	</a>
</form>